@import 'https://fonts.googleapis.com/css?family=Share+Tech+Mono';

body {
  background:antiquewhite;
}

.header {
  text-align: center;
  font-family: 'Share Tech Mono', monospace;
}

#calc {  
  text-align: center;
  width: 380px;
  display: block;
  border-radius:8px;
  border: 1px solid;
  bordel-color: #abc6c2;
  padding:8px;
  margin-top:20px;
  margin-left:auto;
  margin-right:auto;
  background: #224662;
}

#display {
    background: #bcbcbc;
    padding: 8px;
    margin:16px 12px 10px 16px;
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
    border-radius:8px;
}

#keyboard {
  display: inline-block;  
  text-align: center;
  margin-bottom:8px;
}

.row {
  margin-top: 4px;
  margin-bottom: 4px;
}

.last-row {
  float:left;
  margin-top: -11.5%;
}

button {
  width: 65px;
}

.invisible {
  width:0;
}

.btn-zero {
  width: 134px;
}

.btn-result {  
  float:right;
  margin-left:4px;  
  height: 74px;
}

